# Add files here to ignore them from prettier formatting

dist/**/*
coverage/**/*
tmp/**/*
node_modules/**/*

CHANGELOG.md
.github/**/*

**/.next/**/*
test/cypress/reports/index.html

test/cypress/downloads/**/*

wdio/reports/**/*

stats/**/*

playwright/extensions/**/*
